streamlit
pandas
joblib
scikit-learn==1.7.2
textblob
plotly
matplotlib
numpy
xgboost
wordcloud
fastapi
uvicorn
python-multipart
sqlalchemy
pytesseract
Pillow>=9.0.0
scipy
regex
tqdm
accelerate
transformers
torch
seaborn
openpyxl
datasets

